{{- $comment := .Site.Params.comment}}
{{- $params := .Page.Params }}
{{- with $comment }}
<section id="comments">
    {{- if eq $comment.type "mastodon" }}
        {{- if $params.mastodon }}
    <div id="mastodon"><a target="_blank_" href="{{ $params.mastodon }}">💬 Discuss on Mastodon <i class="fa-brands fa-mastodon"></i></a></div>
        {{- end }}
    {{- else if eq $comment.type "disqus" }}
    <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    {{- else if eq $comment.type "youyan" }}
    <div id="uyan_frame"></div>
    {{- else if eq $comment.type "livere" }}
    <div id="lv-container" data-id="city" data-uid="{{- $comment.livere.uid }}">
        <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
    </div>    
    {{- else if eq $comment.type "gitment" }}

    {{- else if eq $comment.type "gitalk" }}

    {{- else if eq $comment.type "valine" }}
    <div id="vcomments"></div>
    {{- else if eq $comment.type "gts" }}
    <div id="gts_comments"></div>
    {{- end }}
</section>
{{- end }}
